@page "/newtask"

<h1 style="text-align: center; margin-top:15%">创建新的总结任务</h1>
<div class="btnDiv">
    <button class="auBtn upload">上传音频</button>
    <button class="auBtn record">实时录制</button>
</div>


